body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    font-family: 'Stint Ultra Expanded', cursive;
}

.container {
    height:100vh;
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 10% 1000px 10% 1fr;
    grid-template-rows: 50px 50px 50px 20px 1fr 50px 30px;
    grid-gap: 2px;
    background-image: url(../Images/background_code.jpg);
    background-size: cover;
}

.nav {
    grid-column: 3/4;
    grid-row: 3/4;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #00000038;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    background-color: #53484867;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    
}

li a{
    display: inline-block;
    color: #f5f5dc;
    padding: 15px 45px;
    text-decoration: none;
    
}

li a:hover {
    color: #f5f5dc;
    background-color: #61738175;
    border-radius: 5px;
}

.social {
    grid-column: 5/6;
    grid-row: 3/4;
    text-align: right;
    margin-right: 10px;
}

.social img {
    height: 50px;
    width: 50px;
}

.icon {
    transition: opacity 0.8s;
    opacity: 0.4;
}

 .icon:hover {
    transition: opacity 0.8s;
    opacity: 1;
}


.content1 {
    grid-column: 2/5;
    grid-row: 5/6;
    background-color: #53484867;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00000038;
    color: #ffffff;
    overflow: scroll;
    overflow-x: hidden;
}

.content1 a {
    text-decoration: underline;
    
}

a:visited {
    color: #ffffff;
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: f5f5dc;
    font-size: 40;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    padding-right:20px;
}

p {
    font-size: 23px;
    /* font-weight: bold; */
    padding-left: 20px;
    padding-right:20px;
    text-align: justify;
}

.footer {
    grid-column: 3/4;
    grid-row: 7/8;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
}